.taskBlock{
  width: 272px;
  margin-left: 20px;
  flex-shrink: 0;
  height: 90vh;
  &:first-child{
    margin-left: 0;
  }
  .cardContainer{
    height: 80%;
    overflow-y: auto;
  }
  &_content{
    max-height: 100%;
    background: #DFE3E6;
    padding: 15px 5px 3px 5px;
    border-radius: 3px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}