.addNew{
  width: 100%;
  display: flex;
  flex-direction: column;
  textarea{
    width: 100%;
    border: none;
    background-color: #fff;
    resize: none;
  }
  button{
    position: relative;
    align-self: center;
  }
}
.wrapper{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}